
  
  div.calendar {
      height:240px;
      width:250px; 
      background-color:white;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
      background-image:	-webkit-radial-gradient(center, #eee, #fff);
      background-image:	-moz-radial-gradient(center, #eee, #fff);
      -webkit-backface-visibility:hidden;
      margin:auto;
  }
  
  div.calendar h1 {
      margin:0;
      text-align: center;
      color:#fff;
      font-weight: lighter;
      font-size: 1.4em;
      letter-spacing: 1px;
      padding:10px;
      border-bottom: 2px solid #1e1e1e;
      background-color: #d93e3e;	
      background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0.0,#e37f80),color-stop(0.85, #d93e3e));
      background-image: -moz-gradient(linear,left top, left bottom,color-stop(0.0,#e37f80),color-stop(0.85, #d93e3e));
      background-image: -ms-gradient(linear,left top, left bottom,color-stop(0.0,#e37f80),color-stop(0.85, #d93e3e));
      background-image: -o-gradient(linear,left top, left bottom,color-stop(0.0,#e37f80),color-stop(0.85, #d93e3e));
      background-image: gradient(linear,left top, left bottom,color-stop(0.0,#e37f80),color-stop(0.85, #d93e3e));
  
      -webkit-border-radius:	5px 5px 0 0;
      -moz-border-radius:		5px 5px 0 0;
      -ms-border-radius:		5px 5px 0 0;
      -o-border-radius:		5px 5px 0 0;
      border-radius: 			5px 5px 0 0;
  }
  
  div.calendar p {
      font-size: 4em;
      margin-top: 5.5rem;
      line-height: 0%;
      color:black;
      font-weight: bold;
  }