.cardpersonal{
  
    margin-left:2rem;
    margin-top:2rem;
  }
  
  .attandance-card{
    margin-top:2rem;
  }
  
  .datepicker{
    
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    padding-right:10px;
  
  }